<div class="left">
  <div class="events">
    {{calendar/calendar-events
      events=selectedEvents
      today=selectedDay
      addEvent=(action 'addEvent')
      removeEvent=(action 'removeEvent')
    }}
  </div>
</div>
<div class="right">
  <div class="header clearfix">
    <div class="col-12">
      <div class="year">
        {{format-date selectedMonth 'YYYY'}}
      </div>
    </div>
    <div class="col-4">
      <div class="prev" {{action "prevMonth"}}>
        <i class="fa fa-angle-left" aria-hidden="true"></i>
      </div>
    </div>
    <div class="col-4">
      <div class="monthName">
        {{format-date selectedMonth 'MMMM'}}
      </div>
    </div>
    <div class="col-4">
      <div class="next" {{action "nextMonth"}}>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </div>
  <div class="col-12">
    <div class="days clearfix">
      <div class="day-item">SUN</div>
      <div class="day-item">MON</div>
      <div class="day-item">TUE</div>
      <div class="day-item">WED</div>
      <div class="day-item">THU</div>
      <div class="day-item">FRI</div>
      <div class="day-item">SAT</div>
    </div>
    <div class="monthHolder">
      <div class="monthSlider">
        {{ calendar/calendar-month
          selectedMonth=selectedMonth
          month=selectedMonth
          events=events
          selectedEvents=selectedEvents
          selectedDay=selectedDay
          selectDay=(action 'selectDay')
        }}
        {{#if newMonth}}
          {{ calendar/calendar-month
             selectedMonth=selectedMonth
             month=newMonth
             events=events
             selectedEvents=selectedEvents
             selectedDay=selectedDay
             selectDay=(action 'selectDay')
           }}
        {{/if}}
      </div>
    </div>
  </div>
</div>
