<div class="">
  <h1>{{format-date today 'dddd'}},<br>{{format-date today 'MMMM Do'}}</h1>
</div>
<form>
  <div class="event-input-group">
    {{input type="text" class="event-input event-time clockpicker" placeholder="@" value=time}}
    {{input type="text" class="event-input event-body" placeholder="What will you do?" value=body}}
    <button {{action 'addEvent'}} class="event-input event-submit">
      +
    </button>
  </div>
</form>
{{#if events}}
  {{#each events as |task|}}
    <div class="event-item clearfix">
      <div class="event-time">{{format-date task.time 'HH:mm'}}</div>
      <div class="event-body">{{task.body}}</div>
    </div>
  {{/each}}
{{else}}
  <div class="event-item clearfix">
    <div class="event-body">No Events,<br>Enjoy your free day!</div>
  </div>
{{/if}}
