<div class="">
  <h3>{{ todayWord }}</h3>
</div>
<form>
  <div class="event-input-group">
    {{input type="text" class="event-input event-time clockpicker" placeholder="@" value=time}}
    {{input type="text" class="event-input event-body" placeholder="What will you do?" value=body}}
    <button {{action 'addEvent'}} class="event-input event-submit">
      +
    </button>
  </div>
</form>
{{#each events as |task|}}
    <h4>{{task.body}}</h4>
    <p>{{task.time}}</p>
{{/each}}
